.docDetails {
    margin: 0 !important;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 17rem;
}

.tabs h2 {
    text-align: center;
}

.tabs h2 {
    color: #1b4f72;
    text-align: center;
    margin-left: 0;
    margin-bottom: 2rem;
}

.tabs h2 span {
    text-decoration-line: underline;
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 0.3rem;
    text-decoration-color: rgb(3, 159, 190);
}

.tabs ul:first-child {
    border-bottom: 2px solid #fff !important;
}

.tabs li {
    color: rgb(0, 0, 0);
}


@media screen and (max-width: 1024px) {
    .docDetails {
        height: fit-content;
        padding: .5rem;
    }

    .tabs h2 {
        margin-bottom: 1.5rem;
    }

    .tabs ul:first-child {
        border-bottom: 1.2px solid #fff !important;
    }
}