html,
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, Times, 'Times New Roman', serif
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}