html,
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, Times, 'Times New Roman', serif
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none
}

img {
  max-width: 100%;
  display: block;
}

ul li.react-tabs__tab--selected {
  background-color: aquamarine !important;
  color: #fff;
  border-top: 2px solid #fff !important;
  border-left: 2px solid #fff !important;
  border-right: 2px solid #fff !important;
}